<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="Stylesheet" href="./css/style.css"/>
    <link rel="Stylesheet" href="./css/christmas.css"/>
    <link href="https://fonts.googleapis.com/css?family=Vollkorn+SC" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas');
    </style>
    <title>Beauty and the beasts</title>

</head>

<body>
    <header id="header">
        <div id="logoDiv">
            <!--<img src="https://i.ytimg.com/vi/e3Nl_TCQXuw/maxresdefault.jpg" id="logo"/>-->
            <img src="./img/logo.png" id="logo"/>
        </div>

        <div id="menubar">
            <div id="searchbar">
                <input type="text" id="searchTerm" placeholder="What are you looking for?"/>
                <button type="submit"  id="searchButton"><img id="searclogo" src="/img/searchwhite.png"/></button>
            </div>
            <div id="menu">
                <a href="/subcategory?sc=Hårvård">Hårvård</a>
                <a href="/subcategory?sc=Hudvård">Hudvård</a>
                <a href="/subcategory?sc=Smink">Smink</a>
                <a href="/subcategory?sc=Damdoft">Damdoft</a>
                <a href="/subcategory?sc=Herrdoft">Herrdoft</a>
            </div>
        </div>

        <div id="cartbox">
            <!-- here we have som links to both the login in site and to the cart. these doesn't need to be links, we can use SPA if we want. -->
            <div th:if="${isLogedIn} == false">
                <form action="/login" method="post">
                    <div class="fontOne">E-postadress:</div>
                    <input class="regfield" name="email" type="text"/>
                    <div class="fontOne">Lösenord:</div>
                    <input class="regfield" name="password" type="password"/>
                    <input class="button" type="submit" value="Logga in"/>
                    <div th:text="${loginFail}"></div>
                    <div>
                        <a class="fontOne" href="registration.html" style="text-decoration:none">Skapa nytt konto</a>
                    </div>
                </form>
            </div>
            <div th:if="${isLogedIn} == true" id="logoutbutton">
                <form action="/logout" method="post">
                    <input class="button" type="submit" value="logout"/>
                </form>
            </div>
        </div>
        <div id="iconbox">
            <div><img src="./img/shopping-cart.png" id="cartlogo"/></div>
            <div th:if="${isLogedIn} == true" id="login"><a href="customerpage.html"><img src="./img/mypagelogo.png" id="mypagelogo"/></a>
            </div>
        </div>
    </header>
    <section id="pageContent">

        <div id="subcategoryMenu">

        </div>


        <div id="mainPage">
            <div class="recommendedCategory">
                <h3>Herrdoft</h3>
            </div>
            <div class="recommendedProduct" id="makeup">

                <div th:each="product : ${herrdoft}" class="productBox">
                    <img class="productpic" th:src="${product.image}"/>
                    <p class="productLink">
                        <a th:href="'/productinfo?productID='+${product.productID}" th:text="${product.name}"></a>
                    </p>
                    <div class="productdescription">
                        <p  th:text="${product.price +' kr'}">kr</p>
                        <!--<p  th:text="${product.shortDescription}"></p>-->
                    </div>

                </div>
            </div>
            <div class="recommendedCategory">
                <h3>Damdoft</h3>
            </div>
            <div class="recommendedProduct" id="nails">
                <div th:each="product : ${damdoft}" class="productBox">
                    <img class="productpic" th:src="${product.image}"/>
                    <p class="productLink">
                        <a th:href="'/productinfo?productID='+${product.productID}" th:text="${product.name}"></a>
                    </p>
                    <div class="productdescription">
                        <p  th:text="${product.price +' kr'}">kr</p>
                        <!--<p  th:text="${product.shortDescription}"></p>-->
                    </div>
                </div>
            </div>
            <div class="recommendedCategory">
                <h3>Hudvård</h3>
            </div>
            <div class="recommendedProduct" id="eyes">
                <div th:each="product : ${hudvard}" class="productBox">
                    <img class="productpic" th:src="${product.image}"/>
                    <p class="productLink" >
                        <a th:href="'/productinfo?productID='+${product.productID}" th:text="${product.name}"></a>
                    </p>
                    <div class="productdescription">
                        <p  th:text="${product.price +' kr'}">kr</p>
                        <!--<p  th:text="${product.shortDescription}"></p>-->
                    </div>
                </div>
            </div>
        </div>
        <div id="topsellers">
            <p>Bästsäljare</p>
            <div class="toppProduct" th:each="product : ${randomTopp}">
                <img class="productpic" th:src="${product.image}"/>
                <p><a class="linksToTheRight" th:href="'/productinfo?productID='+${product.productID}" th:text="${product.name}"></a></p>

                <div class="topseller">
                <span th:text="${product.price +' kr'}"></span>
                <span class="addProduct">
                    <form action="/addProduct" method="post">
                        <input type="hidden" name="productID" th:value="${product.productID}"/>
                        <input class="button" type="submit" value="&#128722;"/>
                    </form>
                </span>
                </div>
                <p>⎯⎯⎯⎯&nbsp;&nbsp;&nbsp;&nbsp;&#x2767;&nbsp;&nbsp;&nbsp;&nbsp;⎯⎯⎯⎯</p>
            </div>
        </div>
    </section>

    <section id="foot">

        <div class="informationsection">
            <p>Information</p>
            <ul>
                <li>Om oss</li>
                <li>Jobba hos oss</li>
            </ul>

        </div>
        <div class="helpsection">
            <p>Kundservice</p>
            <ul>
            <li>Kontakta kundservice</li>
            <li>Vanliga frågor</li>
            <li>Köpvillkor</li>
            </ul>
        </div>

        <div class="socialsection">
            <p>Följ oss</p>
            <div>
                <a href="https://www.instagram.com/" target="_blank"><img class="socialIcon" src="https://cdn.discordapp.com/attachments/385089277819879437/390482322727763969/instagram.png"/></a>
                <a href="https://sv-se.facebook.com/" target="_blank"><img class="socialIcon" src="https://cdn.discordapp.com/attachments/385089277819879437/390480664786632704/facebook.png"/></a>
                <a href="https://twitter.com/?lang=sv" target="_blank"><img class="socialIcon" src="./img/Twitter.png"/></a>
                <img class="socialIcon" src="./img/Kiwi.png"/>
            </div>
        </div>
    </section>

<script src="./script/bundle.js"></script>
<script src="./script/christmas.js"></script>

</body>

</html>