<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="Stylesheet" href="./css/style.css"/>
    <link rel="Stylesheet" href="./css/productinfo.css"/>
    <link href="https://fonts.googleapis.com/css?family=Vollkorn+SC" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas');
    </style>
    <title>Beauty and the beasts</title>

</head>

<body>
<header id="header">
    <div id="logoDiv">
        <!--<img src="https://i.ytimg.com/vi/e3Nl_TCQXuw/maxresdefault.jpg" id="logo"/>-->
        <img src="./img/logo.png" id="logo"/>
    </div>

    <div id="menubar">
        <div id="searchbar">
            <input type="text" id="searchTerm" placeholder="What are you looking for?"/>
            <button type="submit"  id="searchButton"><img id="searclogo" src="/img/searchwhite.png"/></button>
        </div>
        <div id="menu">
            <a href="/subcategory?sc=Hårvård">Hårvård</a>
            <a href="/subcategory?sc=Hudvård">Hudvård</a>
            <a href="/subcategory?sc=Smink">Smink</a>
            <a href="/subcategory?sc=Hårvård">Damdoft</a>
            <a href="/subcategory?sc=Hårvård">Herrdoft</a>
        </div>
    </div>

    <div id="cartbox">
        <!-- here we have som links to both the login in site and to the cart. these doesn't need to be links, we can use SPA if we want. -->
        <div th:if="${isLogedIn} == false">
            <form action="/login" method="post">
                <div class="fontOne">E-postadress:</div>
                <input name="email" type="text"/>
                <div class="fontOne">Lösenord:</div>
                <input name="password" type="password"/>
                <input class="button" type="submit" value="Logga in"/>
                <div th:text="${loginFail}"></div>
                <div>
                    <a class="fontOne" href="registration.html" style="text-decoration:none">Skapa nytt konto</a>
                </div>
            </form>

        </div>
        <div th:if="${isLogedIn} == true" id="login">
            <a href="customerpage.html">
                <img src="./img/mypagelogo.png" id="mypagelogo"/>
            </a>
        </div>
        <div th:if="${isLogedIn} == true" id="cart">
            <img src="./img/shopping-cart.png" id="cartlogo"/>
        </div>
        <div th:if="${isLogedIn} == true" id="logoutbutton">
            <form action="/logout" method="post">
                <input type="submit" value="logout"/>
            </form>
        </div>
    </div>
</header>
<section id="pageContent">
    <div id="mainPage">

        <div id="product">
            <div id="productpicture">
                <img class="bigproductpic" th:src="${product.image}"/>
            </div>
            <div class="productinfo">

                <!--<img class="productpic" th:src="${product.image}"/>-->
                <h2 class="productdescription" th:text="${product.name}"></h2>
                <p class="productdescription" th:text="${product.price + ' kr ' }">price</p>
                <div class="addProduct">
                    <form action="/addProduct" method="post">
                        <input type="hidden" name="productID" th:value="${product.productID}"/>
                        <input class="button" type="submit" value="Lägg till i varukorg"/>
                    </form>
                </div>
                <!--<p id="productRating" th:text="${avg.score}"></p>-->
            </div>

        </div>

        <p class="producttext" th:text="${product.description}"></p>
        <div class="recension-recensionerBox">
        <div id="userReviewsBox">
            <form action="#" th:action="@{/addreview}" th:object="${review}" method="post">
                <h3 class="linksToTheRight">
                    Skriv ny recension:
                </h3>
                <textarea name="recension" type="text" th:field="*{userReview}" cols="40" rows="10"></textarea>
                <input th:field="*{productID}" class="hidden" type="hidden"/>
                <input th:field="*{score}" id="score" class="hidden"/>
                <div class="stars">
                    <span id="1">&#9733;</span>
                    <span id="2">&#9733;</span>
                    <span id="3">&#9733;</span>
                    <span id="4">&#9733;</span>
                    <span id="5">&#9733;</span>
                </div>
                <input class="button" type="submit"/>
            </form>

        </div>
            <div id="Recensioner">
                <h3 class="linksToTheRight">
                    Kund recensioner:
                </h3>
                <div id="reviews">
                    <div th:if="${review!=null}">
                        <div class="sizeLettersInReviews" th:each="review : ${reviews}">
                            <div class="stars">
                                <span th:if="${review.score &gt; 0}" class="filled">&#9733;</span>
                                <span th:if="${review.score &lt; 1}">&#9733;</span>
                                <span th:if="${review.score &gt; 1}" class="filled">&#9733;</span>
                                <span th:if="${review.score &lt; 2}">&#9733;</span>
                                <span th:if="${review.score &gt; 2}" class="filled">&#9733;</span>
                                <span th:if="${review.score &lt; 3}">&#9733;</span>
                                <span th:if="${review.score &gt; 3}" class="filled">&#9733;</span>
                                <span th:if="${review.score &lt; 4}">&#9733;</span>
                                <span th:if="${review.score &gt; 4}" class="filled">&#9733;</span>
                                <span th:if="${review.score &lt; 5}">&#9733;</span>
                            </div>
                            <p th:text="${review.userReview}"></p>
                            <p> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="annonstext"> Annons</h2>
        <div id="annons">
            <a href="http://www.weatheryoulikeit.com/" target="_blank">
                <img src="/img/banner.jpg" id="annonsbild"/>
            </a>
        </div>

        <!--<div id="moreInfo">-->
            <!--<div id="information">-->
                <!--<h3>-->
                    <!--more information-->
                <!--</h3>-->
                <!--<p id="Description" th:text="${product.description}"></p>-->


            <!--</div>-->

        <!--</div>-->
        <h2 class="textothersbought">
            Andra har också köpt
        </h2>
        <div id="othersHasBougth">
            <div class="boughtBox" th:each="product:${makeUp}">
                <img class="productpic" th:src="${product.image}"/>
                <p class="productLink">
                    <a th:href="'/productinfo?productID='+${product.productID}" th:text="${product.name}"></a>
                </p>
                <p class="productdescription" th:text="${product.price +' kr'}">kr</p>
                <div class="addProduct">
                    <form action="/addProduct" method="post">
                        <input type="hidden" name="productID" th:value="${product.productID}"/>
                        <input class="button" type="submit" value="Lägg till i varukorg"/>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div id="topsellers">
        <p> Our Toppsellers</p>
        <div th:each="product : ${randomTopp}">
            <img class="productpic" th:src="${product.image}"/>

            <p><a class="linksToTheRight" th:href="'/productinfo?productID='+${product.productID}" th:text="${product.name}"></a></p>

            <div class="topseller">
                <span th:text="${product.price +' kr'}">kr</span>

                <span class="addProduct">
                    <form action="/addProduct" method="post">
                        <input type="hidden" name="productID" th:value="${product.productID}"/>
                        <input class="button" type="submit" value="&#128722;"/>
                    </form>
                </span>
            </div>
            <p>&#x2767;</p>
        </div>
    </div>
</section>
<section id="foot">
    <div class="shopsection">
        <ul id="shop">SHOP</ul>
        <li>Women</li>
        <li>Men</li>
        <li>Makeup</li>
        <li>lipstift</li>
    </div>
    <div class="informationsection">
        <ul>information</ul>
        <li>carrer at Beauty and the beast</li>
        <li>aboute Beauty and the beast</li>
        <li>information</li>
    </div>
    <div class="helpsection">
        <ul>help</ul>
        <li>customer service</li>
        <li>My profile</li>
        <li>Gift Card</li>
        <li>FAQ</li>
    </div>
    <div class="socialsection">
        <ul>social</ul>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Twitter</li>
        <li>Mail</li>
    </div>
</section>
<script src="./script/bundle.js"></script>
<script src="./script/stars.js"></script>
</body>
</html>
