<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="Stylesheet" href="./css/style.css"/>
    <link rel="Stylesheet" href="./css/productinfo.css"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas');
    </style>
    <title>Beauty and the beasts</title>

</head>

<body>
<header id="header">
    <div id="logoDiv">
        <!--<img src="https://i.ytimg.com/vi/e3Nl_TCQXuw/maxresdefault.jpg" id="logo"/>-->
        <img src="./img/logo.png" id="logo"/>
    </div>

    <div id="menubar">
        <div id="searchbar">
            <input type="text" id="searchTerm" placeholder="What are you looking for?"/>
            <button type="submit"  id="searchButton"><img id="searclogo" src="/img/searchwhite.png"/></button>
        </div>
        <div id="menu">
            <span>Fransar</span>
            <span>category2</span>
            <span>category3</span>
            <span>category4</span>
            <span>category5</span>
        </div>
    </div>

    <div id="cartbox">
        <!-- here we have som links to both the login in site and to the cart. these doesn't need to be links, we can use SPA if we want. -->
        <div th:if="${isLogedIn} == false">
            <form action="/login" method="post">
                <div class="fontOne">E-postadress:</div>
                <input name="email" type="text"/>
                <div class="fontOne">Lösenord:</div>
                <input name="password" type="password"/>
                <input class="button" type="submit" value="Logga in"/>
                <div th:text="${loginFail}"></div>
                <div>
                    <a class="fontOne" href="registration.html" style="text-decoration:none">Skapa nytt konto</a>
                </div>
            </form>

        </div>
        <div th:if="${isLogedIn} == true" id="login">
            <a href="customerpage.html">
                <img src="./img/mypagelogo.png" id="mypagelogo"/>
            </a>
        </div>
        <div th:if="${isLogedIn} == true" id="cart">
            <img src="./img/shopping-cart.png" id="cartlogo"/>
        </div>
        <div th:if="${isLogedIn} == true" id="logoutbutton">
            <form action="/logout" method="post">
                <input type="submit" value="logout"/>
            </form>
        </div>
    </div>
</header>
<section id="pageContent">
    <div id="subcategoryMenu">
        <p>
            annons
        </p>
        <img src="/img/banner.jpg" id="annonsbildHöjden"/>
    </div>
    <div id="mainPage">

        <div id="product">
            <div id="productpicture">
                <img class="bigproductpic" th:src="${product.image}"/>
            </div>
            <div class="productinfo">

                <!--<img class="productpic" th:src="${product.image}"/>-->
                <h2 id="productTitle" th:text="${product.name}"></h2>
                <p id="productPrice" th:text="${product.price + ' kr ' }">price</p>
                <p id="productQuantity" th:text="${product.quantity + ' pcs '}">in stock</p>
                <p id="productDescription" th:text="${product.shortDescription}"></p>
                <div class="addProduct">
                    <form action="/addProduct" method="post">
                        <input type="hidden" name="productID" th:value="${product.productID}"/>
                        <input type="submit" value="Lägg till i varukorg"/>
                    </form>
                </div>
                <!--<p id="productRating" th:text="${avg.score}"></p>-->
            </div>
        </div>
        <h2> annons</h2>
        <div id="annons">
            <a href="http://www.weatheryoulikeit.com/" target="_blank">
            <img src="/img/banner.jpg" id="annonsbild"/>
            </a>
        </div>


            <div id="moreInfo">
                <div id="information">
                    <h3>
                        more information
                    </h3>
                    <p id="Description" th:text="${product.description}"></p>
                    <div id="userReview">
                        <form action="#" th:action="@{/addreview}" th:object="${review}" method="post">
                            <input th:field="*{productID}" class="hidden" type="hidden"/>
                            <input th:field="*{score}" id="score" class="hidden"/>
                            <div class="stars">
                                <span data-rating-id="1" value="1">&#9733;</span>
                                <span data-rating-id="2" value="2">&#9733;</span>
                                <span data-rating-id="3" value="3">&#9733;</span>
                                <span data-rating-id="4" value="4">&#9733;</span>
                                <span data-rating-id="5" value="5">&#9733;</span>
                            </div>
                            <div>
                                Recension:
                            </div>
                            <input name="recension" type="text" th:field="*{userReview}"/>
                            <input type="submit"/>
                        </form>
                    </div>

                </div>
                <div id="Recensioner">
                    <h3>
                        Recensioner
                    </h3>
                    <div id="reviews">
                        <div th:if="${review!=null}">
                            <div th:each="review : ${reviews}">
                                <span th:text="user+':'"> </span>
                                <span th:text="${review.userReview}"> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <h2>
            Otters has bought
        </h2>
        <div id="othersHasBougth">
            <div th:each="product:${makeUp}">
                <p>
                    <a th:href="'/productinfo?productID='+${product.productID}" th:text="${product.name}"></a>
                </p>
                <img class="productpic" th:src="${product.image}"/>
                <p th:text="${product.price +' kr'}">kr</p>
                <div class="addProduct">
                    <form action="/addProduct" method="post">
                        <input type="hidden" name="productID" th:value="${product.productID}"/>
                        <input type="submit" value="Lägg till i varukorg"/>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div id="topsellers">
        <p> OUR TOPPSELLERS</p>
        <div th:each="product : ${nails}">
            <img class="productpic" th:src="${product.image}"/>
            <p><a class="linksToTheRight" th:href="'/productinfo?productID='+${product.productID}" th:text="${product.name}"></a></p>
            <p th:text="${product.price +' kr'}">kr</p>
            <div class="addProduct">
                <form action="/addProduct" method="post">
                    <input type="hidden" name="productID" th:value="${product.productID}"/>
                    <input type="submit" value="Lägg till i varukorg"/>
                </form>
            </div>
            <p>&#x2767;</p>
        </div>
    </div>
</section>
<section id="foot">
    <div class="shopsection">
        <ul id="shop">SHOP</ul>
        <li>Women</li>
        <li>Men</li>
        <li>Makeup</li>
        <li>lipstift</li>
    </div>
    <div class="informationsection">
        <ul>information</ul>
        <li>carrer at Beauty and the beast</li>
        <li>aboute Beauty and the beast</li>
        <li>information</li>
    </div>
    <div class="helpsection">
        <ul>help</ul>
        <li>customer service</li>
        <li>My profile</li>
        <li>Gift Card</li>
        <li>FAQ</li>
    </div>
    <div class="socialsection">
        <ul>social</ul>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Twitter</li>
        <li>Mail</li>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="./script/bundle.js"></script>
<script src="./script/stars.js"></script>
</body>
</html>
