<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="Stylesheet" href="./css/shoppingcart.css"/>
    <link rel="Stylesheet" href="./css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Vollkorn+SC" rel="stylesheet"/>
    <style>@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas');</style>
    <title>Beauty and the beasts</title>

</head>
<body>
<header id="header">
    <div id="logoDiv">
        <img src="./img/logo.png" id="logo"/>
    </div>
    <div id="menubar">
        <div id="searchbar">
            <input type="text" id="searchTerm" placeholder="What are you looking for?"/>
            <button type="submit" id="searchButton"><img id="searclogo" src="/img/searchwhite.png"/></button>
        </div>
        <div id="menu">
            <span>category1</span>
            <span>category2</span>
            <span>category3</span>
            <span>category4</span>
            <span>category5</span>
            <span>category6</span>
        </div>
    </div>
    <div id="cartbox">
        <!-- here we have som links to both the login in site and to the cart. these doesn't need to be links, we can use SPA if we want. -->
        <div th:if="${isLogedIn} == false">
            <form action="/login" method="post">
                <div>E-postadress:</div>
                <input name="email" type="text"/>
                <div>Lösenord:</div>
                <input name="password" type="password"/>
                <input class="button" type="submit" value="Logga in"/>
                <div th:text="${loginFail}"></div>
                <div>
                    <a href="registration.html">Skapa nytt konto</a>
                </div>
            </form>

        </div>
        <div th:if="${isLogedIn} == true" id="login">
            <a href="customerpage.html">
                <img src="./img/mypagelogo.png" id="mypagelogo"/>
            </a>
        </div>
        <div th:if="${isLogedIn} == true" id="cart">
            <img src="./img/shopping-cart.png" id="cartlogo"/>
        </div>
        <div th:if="${isLogedIn} == true" id="logoutbutton">
            <form action="/logout" method="post">
                <input class="button" type="submit" value="logout"/>
            </form>
        </div>
    </div>
</header>
<section id="pageContent">

    <div id="subcategoryMenu">
        <div id="annons">
            <a href="http://www.weatheryoulikeit.com/" target="_blank">
                <img class="bannerhög"
                     src="https://cdn.discordapp.com/attachments/378129316447256577/390133481344335872/wyli.png"/>
            </a>
        </div>
    </div>

    <!--=============================================================-->
    <div id="mainPage">
        <h1>Varukorg</h1>
        <div th:if="${emptyCart} == true">Din varukorg är tom!</div>
        <div class="shoppincart" th:if="${emptyCart} == false">
            <tr th:each="item : ${shoppingCart.shoppingmap}">
                <div>
                    <td th:text="${item.value.product.name}+':  '+${item.value.quantity}+' st  '+${item.value.priceOfProducts}+'kr'"></td>
                    <a th:href="@{'/addProductInCart?productID=' + ${item.value.product.productID}}"><input
                            class="button" type="submit" value="+"/></a>
                    <a th:href="@{'/removeProductInCart?productID=' + ${item.value.product.productID}}"><input
                            class="button" type="submit" value="-"/></a>
                </div>
            </tr>
            <span id="pricebox" th:text="'Totalpris:  '+${shoppingCart.totalPrice}+'Kr'"></span>
            <span id="paypal" class="hidden" th:text="${shoppingCart.totalPrice}"></span>
            <div th:if="${emptyCart} == false">
                <form action="/buyShoppingCart" method="post">
                    <input class="buybutton" type="submit" value="KÖP!"/>
                </form>
                <div id="myContainerElement"></div>
                <form action="/emptyShoppingCart" method="post">
                    <input class="button" type="submit" value="Töm varukorg"/>
                </form>
            </div>
        </div>
    </div>
    <!--==============================================================-->
    <div id="topsellers">
        <h3> OUR TOPPSELLERS</h3>
        <div th:each="product : ${nails}">
            <img class="productpic" th:src="${product.image}"/>
            <p><a class="linksToTheRight" th:href="'/productinfo?productID='+${product.productID}"
                  th:text="${product.name}"></a></p>
            <p th:text="${product.price +' kr'}">kr</p>
            <span class="addProduct">
                    <form action="/addProduct" method="post">
                        <input type="hidden" name="productID" th:value="${product.productID}"/>
                        <input class="button" type="submit" value="&#128722;"/>
                    </form>
                </span>
            <p>&#x2767;</p>
        </div>
    </div>
</section>
<section id="foot">
    <div class="shopsection">
        <ul id="shop">SHOP</ul>
        <li>Women</li>
        <li>Men</li>
        <li>Makeup</li>
        <li>lipstift</li>
    </div>
    <div class="informationsection">
        <ul>information</ul>
        <li>carrer at Beauty and the beast</li>
        <li>aboute Beauty and the beast</li>
        <li>information</li>
    </div>
    <div class="helpsection">
        <ul>help</ul>
        <li>customer service</li>
        <li>My profile</li>
        <li>Gift Card</li>
        <li>FAQ</li>
    </div>
    <div class="socialsection">
        <ul>social</ul>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Twitter</li>
        <li>Mail</li>
    </div>
</section>
<!--<script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script>-->
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script src="/script/paypal.js"></script>
<script src="/script/bundle.js"></script>
</body>
</html>




