@deepPurple: #7B008D;
@lightPurple: #C18DB2;
@yellow: #F3B606;
@brown: #56320F;
@dirtyWhite: #D8C5AA;



.productinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}
 
 