@deepPurple: #7B008D;
@font-one: 'Vollkorn SC', serif;

#pricebox{
    border: 1px solid black;
    background-color: whitesmoke;
}

.buybutton{
    border-radius: 5px;
    border: 2px @deepPurple;
    background-color: @deepPurple;
    color: white;
    height: 30px;
    width: 60px;
    font-family: @font-one;
    margin-top: 5px;
}

//#mainPage{
//    font-family: @font-one;
//}
