
 @deepPurple: white;
 @lightPurple: white;
 @yellow: white;
 @brown: white;
 @dirtyWhite: white;
 @white: whitesmoke;
 @font-color: black;
 @font-one: 'Vollkorn SC', serif;
 @font-size: 15px;
 @button-color: gray;
 @button-font-color: white;

 body{
    margin: auto;
    height: 100%;
    max-width: 1200px;
}

#header{
    display: flex;
    max-height: 10%;
    background: @white; //linear-gradient(to bottom right,@lightPurple 20% , @deepPurple, @yellow 95%);
    color: @dirtyWhite;
    
}
#logoDiv{
    color: white;
    width: 20%;
    margin: auto;
    max-height: 100%;
    padding-left: 5%;

}
#logo{
    width: 100%;
    margin: auto;
    max-height: 100%;
    cursor: pointer;
}
#menubar{
    
    width: 60%;
    margin: auto;
    border: 20px;
    max-height: 100%;
    cursor: pointer;
}
#searchbar{
    width: 100%;
    position: relative;
    top: 0;
}
#searchTerm {
    float: left;
    width: 85%;
    border: 3px solid @lightPurple;
    border-radius: 5px;
    padding: 5px;
    height: 20px;
    outline: none;
    color: @dirtyWhite;
  }
  #searchTerm:focus{
    color: @deepPurple;
  }
  #searchButton {
    cursor: pointer;
    width: 40px;
    height: 36px;

    border: 1px solid @deepPurple;
    border-radius: 5px;
    text-align: center;
    background-color: @button-color;
    color: @brown;
    font-size: 20px;
    background-size: 85%;
    background-position: center;
}
  #searclogo {
    width: 32px;
    height: 32px;
  }
#menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  color: @font-color;
  font-family: @font-one;
  font-size: @font-size;

}
#cartbox{
    
   color:black;
   width: 20%;
   margin: auto;
   max-height: 100%;
  font-size: @font-size;
  
}
#mypagelogo{
    margin: auto;
    width: 30%;
    max-height: 100%;
    cursor: pointer;
}
#cartlogo{
    margin: auto;
    max-height: 100%;
    width: 30%;
    cursor: pointer;
}
#logoutbutton{
    padding-right: 10px;
}
#pageContent{
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif; //our type!!!!!
    font-size: 18px;
    background-color: @dirtyWhite;
    min-height: 800px;
}
#subcategoryMenu{
   order: 1;
   flex: 1;
    background-color: @dirtyWhite;
    border: 2px solid @lightPurple;

}
#mainPage{
   order: 2;
   flex: 3;
    background-color: @dirtyWhite;
    border: 2px solid @lightPurple;
}

.fontOne {
  font-family: @font-one;
}

.button {
 border-radius: 5px;
  border: 2px @button-color;
  background-color: @button-color;
  color: white;
  width: 90px;
  height: 20px;
  font-family: @font-one;
  margin-top: 5px;

}
#topsellers{
    order: 3;
    flex: 1;
    background-color: @dirtyWhite;
    border: 2px solid @lightPurple;
}

.hidden {
    display: none;
} 
#foot{
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: @white;
    border: 1px solid @dirtyWhite;
    padding: 40px 0px;
    width: 100%;
    max-height: 5%;

}
.shopsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25%;
}
.informationsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25%;
}
.socialsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25%;
}
.helpsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25%;
}

.topIncategory {
    display: flex;
    flex-direction: rows;
    justify-content: center;
}

.topProducts {
    flex-grow: 1;
}