 @maincolor: white;
 @whitesmoke: whitesmoke;
 @font-color: black;
 @font-one: 'Vollkorn SC', serif;
 @font-sans:'Inconsolata', monospace;
 @font-size: 15px;
 @button-color: gray;
 @button-font-color: white;

 body{
    margin: auto;
    height: 100%;
    max-width: 1200px;
}

  a{
    text-decoration: none;
    font-family: @font-one;
    font-size: 15px;
    color: black;
  }

  ul{
    padding: 0;
  }

a:hover{
  cursor: hand;
  color: #7B008D;
}

#header{
    display: flex;
    height: 10%;
    max-height: 10%;
    background: @whitesmoke; //linear-gradient(to bottom right,@lightPurple 20% , @deepPurple, @yellow 95%);
    color: @maincolor;
    
}
#logoDiv{
    color: @maincolor;
    width: 20%;
    margin: auto;
    max-height: 100%;
    padding-left: 5%;

}
#logo{
    width: 100%;
    margin: auto;
    max-height: 100%;
    cursor: pointer;
}
#menubar{
    
    width: 60%;
    margin: auto;
    border: 20px;
    max-height: 100%;
    cursor: pointer;
}
#searchbar{
    width: 100%;
    position: relative;
    top: 0;
}
#searchTerm {
    float: left;
    width: 85%;
    border: 3px solid @maincolor;
    border-radius: 5px;
    padding: 5px;
    height: 20px;
    outline: none;
    color: @font-color;
  }
  #searchTerm:focus{
    color: @font-color;
  }
  #searchButton {
    cursor: pointer;
    width: 40px;
    height: 36px;

    border: 1px solid @maincolor;
    border-radius: 5px;
    text-align: center;
    background-color: @button-color;
    color: @maincolor;
    font-size: 20px;
    background-size: 85%;
    background-position: center;
}
  #searclogo {
    width: 32px;
    height: 32px;
  }
#menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 85%;
  color: @font-color;
  font-family: @font-one;
  font-size: @font-size;
}
.regfield{
   width: 90%;
}
#cartbox{
   color:black;
   width: 15%;
   margin: auto;
   max-height: 100%;
  font-size: @font-size;
}
#iconbox{
  width: 5%;
 }
#mypagelogo{
    margin: auto;
    width: 40%;
    max-height: 100%;
    cursor: pointer;
    margin-top: 0.5em;
}
#cartlogo{
    margin: auto;
    max-height: 100%;
    width: 50%;
    cursor: pointer;
    margin-top: 1.5em;
}
#logoutbutton{
    margin-bottom: 2em;
    margin-left: 2em;
}
#pageContent{
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif; //our type!!!!!
    font-size: 18px;
    background-color: @maincolor;
    min-height: 800px;
}
#subcategoryMenu{
   order: 1;
   flex: 0.3;
    background-color: @maincolor;
    border: 2px solid @maincolor;

}
#mainPage{
   order: 2;
   flex: 3;
    background-color: @maincolor;
    border: 2px solid @maincolor;
    //font-family: @font-one;
}
.productLink{
  height: 3em;
}

.productdescription{
  font-family: @font-one;
  font-size: 18px;
}
 .producttext{
   font-family: @font-sans;
   font-size: 15px;
 }
.productBox{
  width: 30%;
}
.recommendedCategory{
  font-family: @font-one;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}
.recommendedProduct{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
}
 .recommendedProduct > div > .productpic{
  height: 150px;
}

 #topsellers > div > .productpic{
   height: 120px;
 }
 .toppProduct{
   padding-left: 15%;
   padding-right: 15%;
 }

 .linksToTheRight{
   text-decoration: none;
   font-family: @font-one;
   font-size: 12px;
   color: black;
 }

.fontOne {
  font-family: @font-one;
}

.button {
 border-radius: 5px;
  border: 2px @button-color;
  background-color: @button-color;
  color: white;
  //width: 90px;
  height: 20px;
  font-family: @font-one;
  margin-top: 5px;
  cursor: pointer;
}
#topsellers{
    order: 3;
    flex: 1;
    background-color: @maincolor;
    border: 2px solid @maincolor;
    border-left: 1px solid black;
    text-align: center;
    font-family: @font-one;
    padding-top: 1em;
}
.addProduct{
    display: flex;
    flex-direction: column;
  margin-left: 7%;
}

.topseller {
  display: flex;
  justify-content: center;
}

.minicart{
    height: 20PX;
    width: 20PX;
}

.hidden {
    display: none;
} 
#foot{
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: @whitesmoke;
    border: 1px solid @maincolor;
    padding: 40px 0px;
    width: 100%;
    max-height: 5%;
    font-family: @font-sans;

}
.shopsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25%;
}
.informationsection{
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //max-width: 25%;
}
.socialsection{
    //display: flex;
    //flex-direction: row;
    //justify-content: center;
    //max-width: 25%;
}
 .socialIcon{
   height: 2em;
 }

.helpsection{
    //display: flex;
    //flex-direction: column;
    //justify-content: left;
    //max-width: 25%;
}
.topIncategory {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.topProducts {
    flex-grow: 1;
}
.searchproductpic {
  height: 150px;
  text-align: center;
  margin: auto;
}
#searchresults{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
tbody{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.bannerhög{
  width: 100%;
  height: 50%;
}

 .productinfo > .producttext{
   width: 90%;
 }

 #searchresults .productBox{
   margin-bottom: 3em;
 }